doctype html
html(lang="en")
    head    
        meta(charset="utf-8")
        meta(content="width=device-width,initial-scale=1" name="viewport")
        title= "Joplin Theme Playground" 
        link(
            type="text/css" 
            rel="stylesheet" 
            href="css/fork-awesome.min.css"
            )
        link(
            type="text/css" 
            rel="stylesheet" 
            href="css/main.css"
            )
        link(
            media="(prefers-color-scheme: dark)" 
            type="text/css" 
            rel="stylesheet" 
            href="css/main-dark-mode.css"
            )
    body
        .side-bar
            .side-bar-scroll
                .all-notes
                    .header
                        div
                        i.fas.fa-clone
                        span All Notes
                .all-notebooks
                    .header 
                        div
                            i.fas.fa-chevron-down
                        i.fas.fa-book
                        span Notebooks
                        button.new-notebook-button 
                            i.fas.fa-plus
                    .folders
                        .list-item-container.list-item-depth-0
                            div
                            div A Prender
                                span.count 8
                        .list-item-container.list-item-depth-0
                            div
                                i.fas.fa-chevron-right
                            div Courses
                                span.count 12
                        .list-item-container.list-item-depth-0
                            div
                                i.fas.fa-chevron-down
                            div Divers
                                span.count 5
                        .list-item-container.list-item-depth-1
                            div
                            div Enterprise
                                span.count 23
                        .list-item-container.list-item-depth-1
                            div
                                i.fas.fa-chevron-down
                            div Recipes
                                span.count 3
                        .list-item-container.list-item-depth-2.selected
                            div 
                                i.fas.fa-chevron-down
                            div Bookmarks
                                span.count 8
                        .list-item-container.list-item-depth-2
                            div
                            div Bookmarks
                                span.count 8
                        .list-item-container.list-item-depth-1
                            div
                            div Tickets
                                span.count 12
                        .list-item-container.list-item-depth-1
                            div
                            div Enterprise
                                span.count 23
                        .list-item-container.list-item-depth-1
                            div
                                i.fas.fa-chevron-down
                            div Recipes
                                span.count 3
                        .list-item-container.list-item-depth-2
                            div 
                                i.fas.fa-chevron-down
                            div Bookmarks
                                span.count 8
                        .list-item-container.list-item-depth-2
                            div
                            div Bookmarks
                                span.count 8
                        .list-item-container.list-item-depth-1
                            div
                            div Tickets
                                span.count 12
                        .list-item-container.list-item-depth-1
                            div
                            div Enterprise
                                span.count 23
                        .list-item-container.list-item-depth-1
                            div
                                i.fas.fa-chevron-down
                            div Recipes
                                span.count 3
                        .list-item-container.list-item-depth-2
                            div 
                                i.fas.fa-chevron-down
                            div Bookmarks
                                span.count 8
                        .list-item-container.list-item-depth-2
                            div
                            div Bookmarks
                                span.count 8
                        .list-item-container.list-item-depth-1
                            div
                            div Tickets
                                span.count 12                                
                .all-tags
                    .header 
                        div
                            i.fas.fa-chevron-down
                        i.fas.fa-tags
                        span Tags
                    .list-item-container.list-item-depth-0
                        div
                        div one
                            span.count 1
                    .list-item-container.list-item-depth-0
                        div
                        div two
                            span.count 1
            .sync-status
                small Completed: 07/02/20 9:24 PM
                button.sync-button
                    i.fas.fa-sync
                    | Synchronize
        .note-list
            .add-new
                button.new-todo-button 
                    i.fas.fa-plus
                    span New to-do
                button.new-note-button 
                    i.fas.fa-plus
                    span New note
            .search-notes
                .search-wrapper
                    input(type='text', placeholder='Search')
                    i.fas.fa-search
            .current-notebook
                // enable this to see a searched list item
                // .list-item-container 
                    div Add 
                        span.searched support 
                        | for system theme
                .list-item-container 
                    div 
                        span Importing and exporting notes
                .list-item-container.selected
                    div 
                        span Welcome to Joplin
                .list-item-container 
                    div 
                        input(id="first", type="checkbox") 
                        label(for="first") 
                            span.pseudo-checkbox
                            span Community and further help with a really long names
                .list-item-container 
                    div
                        input(id="second", type="checkbox") 
                        label(for="second") 
                            span.pseudo-checkbox
                            span Todo important tasks


        .note-panel
            .note-title Welcome to Joplin
            .note-metadata
                div 16/06/2020 
                    span 10:21
                button 
                    i.fas.fa-info-circle
            .note-navigation
                button 
                    i.fas.fa-arrow-left
                button 
                    i.fas.fa-arrow-right
            .note-tools
                button 
                    i.fas.fa-bold
                button 
                    i.fas.fa-italic
                button 
                    i.fas.fa-heading
                button 
                    i.fas.fa-ellipsis-h
                button 
                    i.fas.fa-list-ul
                button 
                    i.fas.fa-list-ol
                button 
                    i.fas.fa-check-square
                button 
                    i.fas.fa-link
                button
                    i.fas.fa-code
                button 
                    i.fas.fa-paperclip
                button 
                    i.fas.fa-calendar
            .note-view
                button.selected
                    span(style="white-space:nowrap") M
                        i.fas.fa-arrow-down
                button
                    i.fas.fa-columns
                button 
                    i.fas.fa-share-square
            .note-breadcrumb
                div In: 
                div 
                    a(href="#") A Prender
            .note-edit
                div
                    p.color # Welcome to Joplin!

                    p Joplin is a free, open source note taking and to-do application, which helps you write and organise your notes, and synchronise them between your devices. The notes are searchable, can be copied, tagged and modified either from the applications directly or from your own text editor. The notes are in [Markdown format](https://joplinapp.org/#markdown). Joplin is available as a **💻 desktop**, **📱 mobile** and **🔡 terminal** application.

                    p The notes in this notebook give an overview of what Joplin can do and how to use it. In general, the three applications share roughly the same functionalities; any differences will be clearly indicated.

                    p ![](./AllClients.png)

                    p.color ## Joplin is divided into three parts

                    p Joplin has three main columns:
                    p.color # Welcome to Joplin!

                    p Joplin is a free, open source note taking and to-do application, which helps you write and organise your notes, and synchronise them between your devices. The notes are searchable, can be copied, tagged and modified either from the applications directly or from your own text editor. The notes are in [Markdown format](https://joplinapp.org/#markdown). Joplin is available as a **💻 desktop**, **📱 mobile** and **🔡 terminal** application.

                    p The notes in this notebook give an overview of what Joplin can do and how to use it. In general, the three applications share roughly the same functionalities; any differences will be clearly indicated.

                    p ![](./AllClients.png)

                    p.color ## Joplin is divided into three parts

                    p Joplin has three main columns:
            .note-render
                div
                    h1  Welcome to Joplin!

                    p Joplin is a free, open source note taking and to-do application, which helps you write and organise your notes, and synchronise them between your devices. The notes are searchable, can be copied, tagged and modified either from the applications directly or from your own text editor. The notes are in [Markdown format](https://joplinapp.org/#markdown). Joplin is available as a **💻 desktop**, **📱 mobile** and **🔡 terminal** application.

                    p The notes in this notebook give an overview of what Joplin can do and how to use it. In general, the three applications share roughly the same functionalities; any differences will be clearly indicated.

                    p ![](./AllClients.png)

                    h2 Joplin is divided into three parts

                    p Joplin has three main columns:
                    h1  Welcome to Joplin!

                    p Joplin is a free, open source note taking and to-do application, which helps you write and organise your notes, and synchronise them between your devices. The notes are searchable, can be copied, tagged and modified either from the applications directly or from your own text editor. The notes are in [Markdown format](https://joplinapp.org/#markdown). Joplin is available as a **💻 desktop**, **📱 mobile** and **🔡 terminal** application.

                    p The notes in this notebook give an overview of what Joplin can do and how to use it. In general, the three applications share roughly the same functionalities; any differences will be clearly indicated.

                    p ![](./AllClients.png)

                    h2 Joplin is divided into three parts

                    p Joplin has three main columns:

            .note-tags
                div
                    button tag1
                    button welcome
                    button notes
                    button joplin
                    button markdown
                a(href="#") Add more tags ...
